# Data

In [1]:
# Data manipulation libs #
import numpy as np
import pandas as pd

In [2]:
# visulization libs #
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# stack_overflow_18 = pd.read_csv("survey_results_public.csv")
# stack_overflow_18.head()

In [4]:
# # List of columns we are interested in for salary analysis #
# salaries_cols = ["Country","Student","Employment","FormalEducation","UndergradMajor","CompanySize","DevType","YearsCoding","YearsCodingProf","EducationTypes","SelfTaughtTypes","LanguageWorkedWith","Salary","LanguageDesireNextYear","FrameworkWorkedWith","FrameworkDesireNextYear","OperatingSystem","Age","ConvertedSalary"]

In [5]:
# salaries = stack_overflow_18[salaries_cols]
# salaries.head()

In [6]:
# salaries.info()

In [7]:
# salaries.loc[0:15,:]

In [8]:
# # entries for test set #
# test_rand = np.random.randint(0,98854,200)
# test_rand

In [9]:
# # entries for train set #
# train_rand = np.random.randint(0,98854,200)
# train_rand

In [10]:
# train_rand/test_rand

In [11]:
# salaries_test = salaries.loc[test_rand,:]
# salaries_test.head()

In [12]:
# salaries_train = salaries.loc[train_rand,:]
# salaries_train.head()

In [13]:
# # saving the dataframe #
# salaries_test.to_csv('salaries_test.csv')
# salaries_train.to_csv('salaries_train.csv')

In [14]:
# uploading train dataframe #
salaries_train = pd.read_csv("salaries_train.csv")

In [15]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [16]:
salaries_train.reset_index(inplace=True)

In [17]:
salaries_train.head()

,index,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,...,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,...,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,...,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,...,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,...,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,...,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [18]:
# Remove index col #
salaries_train.drop(["index"],axis=1,inplace=True)

In [19]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

**Dealing with Country col**

In [20]:
salaries_train.columns

Index(['Unnamed: 0', 'Country', 'Student', 'Employment', 'FormalEducation',
       'UndergradMajor', 'CompanySize', 'DevType', 'YearsCoding',
       'YearsCodingProf', 'EducationTypes', 'SelfTaughtTypes',
       'LanguageWorkedWith', 'Salary', 'LanguageDesireNextYear',
       'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'OperatingSystem',
       'Age', 'ConvertedSalary'],
      dtype='object')

In [21]:
salaries_train["Country"].unique()

array(['Greece', 'Nepal', 'Bangladesh', 'India', 'Czech Republic',
       'Austria', 'Pakistan', 'United States', 'Germany', 'Australia',
       'United Kingdom', 'Brazil', 'Bolivia', 'Indonesia', 'Switzerland',
       'Poland', 'Sri Lanka', 'Canada', 'Sweden', 'Belarus', 'Bulgaria',
       'Spain', 'France', 'Netherlands', 'Ghana', 'Russian Federation',
       'Denmark', 'Mexico', 'Uruguay', 'Cuba', 'Luxembourg', 'Egypt',
       'Italy', 'Hungary', 'Malaysia', 'Kuwait', 'Viet Nam', 'Turkey',
       'Iran, Islamic Republic of...', 'Ireland', 'Colombia', 'Serbia',
       'Jordan', 'Ukraine', 'Slovenia', 'Philippines', 'Portugal',
       'Argentina', 'South Africa', 'Finland', 'Belgium', 'Iceland',
       'Singapore', 'New Zealand', 'Romania', 'China'], dtype=object)

In [22]:
len(salaries_train["Country"].unique())

56

**Dealing with the student col**

In [23]:
salaries_train["Student"].unique()

array(['No', 'Yes, full-time', 'Yes, part-time', nan], dtype=object)

replacing:
- "Yes, full-time" --> "Yes"
- "Yes, part-time" --> "Yes"
- "nan" --> "No

In [24]:
salaries_train["Student"].replace("Yes, full-time","Yes",inplace=True)
salaries_train["Student"].replace("Yes, part-time","Yes",inplace=True)
salaries_train["Student"].replace(np.nan,"No",inplace=True)

In [25]:
# Show the distinct col values #
salaries_train["Student"].unique()

array(['No', 'Yes'], dtype=object)

**Dealing with the Employment col**

In [26]:
salaries_train["Employment"].unique()

array(['Employed full-time', 'Not employed, but looking for work',
       'Employed part-time', 'Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed', nan],
      dtype=object)

replace
- 'Employed full-time' --> Employed
- 'Employed part-time' --> Employed
- 'Independent contractor, freelancer, or self-employed' --> Employed
- 'Not employed, but looking for work' --> Not_employed
- 'Not employed, and not looking for work' --> Not_employed
- nan --> Not_employed

In [27]:
salaries_train["Employment"].replace(['Employed full-time','Employed part-time','Independent contractor, freelancer, or self-employed'],"Employed",inplace=True)
salaries_train["Employment"].replace(['Not employed, but looking for work','Not employed, and not looking for work',np.nan],"Not_employed",inplace=True)

In [28]:
salaries_train["Employment"].unique()

array(['Employed', 'Not_employed'], dtype=object)

**Dealing with the FormalEducation col**

In [29]:
salaries_train["FormalEducation"].unique()

array(['Bachelor’s degree (BA, BS, B.Eng., etc.)',
       'Master’s degree (MA, MS, M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       nan, 'Some college/university study without earning a degree',
       'Associate degree', 'Professional degree (JD, MD, etc.)',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

we categorize the education into level:
- High --> 'Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'
- Medium --> 'Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'
- low --> 'Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',nan

In [30]:
salaries_train["FormalEducation"].replace(['Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'],"High",inplace=True)
salaries_train["FormalEducation"].replace(['Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'],"Medium",inplace=True)
salaries_train["FormalEducation"].replace(['Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',np.nan],"Low",inplace=True)

In [31]:
salaries_train["FormalEducation"].unique()

array(['Medium', 'High', 'Low'], dtype=object)

**Dealing with UndergradMajor col**

In [32]:
salaries_train["UndergradMajor"].unique()

array(['Computer science, computer engineering, or software engineering',
       'Web development or web design', nan,
       'Information systems, information technology, or system administration',
       'Another engineering discipline (ex. civil, electrical, mechanical)',
       'A natural science (ex. biology, chemistry, physics)',
       'A business discipline (ex. accounting, finance, marketing)',
       'A health science (ex. nursing, pharmacy, radiology)',
       'Mathematics or statistics',
       'A humanities discipline (ex. literature, history, philosophy)',
       'I never declared a major',
       'A social science (ex. anthropology, psychology, political science)'],
      dtype=object)

In [33]:
# Might drop this col later #

**Dealing with CompanySize col**

In [34]:
salaries_train[["Employment","CompanySize"]]

       Employment              CompanySize
0        Employed  Fewer than 10 employees
1    Not_employed                      NaN
2        Employed       10 to 19 employees
3        Employed  Fewer than 10 employees
4        Employed     100 to 499 employees
..            ...                      ...
195      Employed     100 to 499 employees
196      Employed                      NaN
197      Employed       20 to 99 employees
198      Employed     100 to 499 employees
199  Not_employed                      NaN

[200 rows x 2 columns]

In [35]:
salaries_train[salaries_train["Employment"] == "Not_employed"]

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
6,84157,Pakistan,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Taken an online course in programming or softw...,NaN,Java;Python;HTML;CSS,NaN,Assembly;C#;Java;JavaScript;Perl;Python;Ruby;H...,NaN,Django;Node.js;React;Torch/PyTorch,Windows,Under 18 years old,NaN
16,85790,Pakistan,No,Not_employed,Medium,"A business discipline (ex. accounting, finance...",NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,3-5 years,Taken an online course in programming or softw...,Questions & answers on Stack Overflow;Online d...,Lua;Python;SQL;HTML;CSS;Bash/Shell,NaN,Python;HTML;CSS,Django,Django;TensorFlow,Linux-based,35 - 44 years old,NaN
18,83540,Indonesia,Yes,Not_employed,Low,NaN,NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,30 or more years,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,08217000063,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,NaN,35 - 44 years old,1000000.0
20,88759,India,Yes,Not_employed,Medium,"Another engineering discipline (ex. civil, ele...",NaN,Student,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,90487,Bangladesh,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer,0-2 years,NaN,Participated in a hackathon,NaN,Assembly;JavaScript;PHP;HTML;CSS,NaN,PHP,NaN,NaN,NaN,NaN,NaN
32,81275,Sri Lanka,Yes,Not_employed,Medium,Web development or web design,NaN,Designer;Front-end developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,NaN,JavaScript;HTML;CSS,250,JavaScript;HTML;CSS,Angular,Angular,Windows,18 - 24 years old,3000.0
38,94719,Netherlands,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,84805,Netherlands,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Front-end developer;Marketi...,3-5 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,83779,United States,No,Not_employed,Medium,"A humanities discipline (ex. literature, histo...",NaN,Front-end developer;Full-stack developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;SQL;HTML;CSS,0,Java;JavaScript;PHP;Python;Scala;SQL;HTML;CSS;...,Angular;Node.js;React,Node.js;React,MacOS,18 - 24 years old,0.0
58,92415,Egypt,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Designer;Full-stack develop...,0-2 years,NaN,NaN,NaN,HTML;CSS,NaN,JavaScript;PHP;Python;HTML;CSS,NaN,Angular;Django;Node.js;React,Windows,NaN,NaN
62,91360,India,No,Not_employed,Medium,NaN,NaN,NaN,0-2 years,NaN,NaN,NaN,NaN,NaN,C;C#;JavaScript;SQL;HTML,NaN,Angular;.NET Core,Windows,NaN,NaN
63,82394,Russian Federation,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,C#;Go;JavaScript,.NET Core,.NET Core,Windows,18 - 24 years old,NaN
66,89600,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Student,3-5 years,NaN,Taken an online course in programming or softw...,NaN,C;C++;JavaScript;HTML;CSS;Bash/Shell,NaN,CoffeeScript;JavaScript;Python;HTML;CSS;Bash/S...,NaN,Angular;Node.js;React,Linux-based,18 - 24 years old,NaN
71,85722,France,No,Not_employed,Low,NaN,NaN,Front-end developer;Student;System administrator,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Haskell;JavaScript;Rust;HTML;CSS;Bash/Shell,NaN,Assembly;C;Kotlin,Node.js,React;TensorFlow;Torch/PyTorch,Linux-based,Under 18 years old,NaN
79,98566,Viet Nam,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,83356,United States,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Educator or academic researcher;Front-end deve...,6-8 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C++;C#;Java;JavaScript;Python;SQL;HTML;CSS,NaN,C++;Java;Python,React,React,Windows,18 - 24 years old,NaN
92,89483,Germany,Yes,Not_employed,Low,NaN,NaN,Student,3-5 years,NaN,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;Java;JavaScript;PHP;Python,NaN,C;C++;Go,NaN,NaN,Linux-based,18 - 24 years old,NaN
97,83373,Colombia,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/S...,NaN,Assembly;C;C++;Go;Kotlin,Django;Node.js;React,Angular;Django;Node.js;React,Windows,Under 18 years old,NaN
114,92735,Philippines,No,Not_employed,Medium,"Information systems, information technology, o...",NaN,Back-end developer;DevOps specialist;Full-stac...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,85237,India,Yes,Not_employed,Medium,Web development or web design,NaN,DevOps specialist;Full-stack developer,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C;C++;HTML;CSS;Bash/Shell,NaN,C++;JavaScript;HTML;CSS;Bash/Shell,NaN,Angular;Django;Node.js;React,Linux-based,18 - 24 years old,NaN
125,88633,United States,No,Not_employed,Medium,"A social science (ex. anthropology, psychology...",NaN,Marketing or sales professional,0-2 years,NaN,Taken an online course in programming or softw...,A college/university computer science or softw...,HTML;CSS,35000,JavaScript;Python;SQL;HTML;CSS,NaN,.NET Core;Django;Node.js;React,Windows,25 - 34 years old,35000.0
131,93561,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,NaN,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,86294,India,Yes,Not_employed,Low,NaN,NaN,Front-end developer;Student,0-2 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,80483,United States,No,Not_employed,Low,NaN,NaN,Game or graphics developer;Student,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,Python,NaN,Python,NaN,NaN,MacOS,Under 18 years old,NaN
149,82638,United States,Yes,Not_employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Back-end developer;Designer;Front-end develope...,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Assembly;C++;Groovy;Java;JavaScript;Python;SQL...,NaN,C#;Groovy;JavaScript;Python;SQL;TypeScript;HTML,Angular;Node.js,Angular;Django;Node.js;Spring,Windows,18 - 24 years old,NaN
156,94604,Belgium,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,93395,France,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,95055,Jordan,Yes,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,95948,India,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,91167,Philippines,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Data or business analyst;Da...,3-5 years,NaN,NaN,NaN,C;JavaScript;PHP;Python;HTML;CSS,NaN,C++;C#;Java;R;VB.NET;Visual Basic 6,NaN,NaN,NaN,NaN,NaN
175,84640,Singapore,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Database administrator;Student,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C++;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS,NaN,Java;Ruby,NaN,Node.js,MacOS,Under 18 years old,NaN
176,85062,New Zealand,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;C#;Go;Java;JavaScript;Lua;Objective-C;Python,NaN,Assembly;C++;CoffeeScript;Clojure;Go;JavaScrip...,Node.js,Node.js;React;Xamarin;TensorFlow,Windows,Under 18 years old,NaN
183,85191,United States,No,Not_employed,High,"A natural science (ex. biology, chemistry, phy...",NaN,Data or business analyst;Data scientist or mac...,24-26 years,24-26 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;Python;Scala;SQL,NaN,JavaScript;Python;Scala;SQL,Django;Hadoop;Node.js;React;Spark,Django;Node.js;React;Spark;TensorFlow,Linux-based,55 - 64 years old,NaN
185,91196,China,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,3-5 years,NaN,NaN,NaN,C;C++;JavaScript;Matlab;Python;HTML;CSS;Bash/S...,NaN,C;C++;Matlab;Python,Node.js;TensorFlow,TensorFlow;Torch/PyTorch,Linux-based,NaN,NaN
186,89245,India,No,Not_employed,Low,NaN,NaN,Student,0-2 years,NaN,Taken an online course in programming or softw...,The official documentation and/or standards fo...,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,NaN,NaN,Windows,Under 18 years old,NaN
194,80790,United States,No,Not_employed,High,"Computer science, computer engineering, or sof...",NaN,Back-end developer;Desktop or enterprise appli...,30 or more years,27-29 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS;Bash/Shell,0,Go;Haskell;JavaScript;Rust;TypeScript;Kotlin;O...,Node.js;React,Node.js;React;TensorFlow,Windows,45 - 54 years old,0.0
199,87040,Netherlands,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Data scientist or machine l...,6-8 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C#;PHP;SQL,NaN,C#;Haskell;Python;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,NaN

The idea is:

if salaries_train["Employment"] == "Not_employed" --> salaries_train["CompanySize"] == np.nan:
    
    then set salaries_train["CompanySize"] --> 0

In [36]:
# To be updated later #
# salaries_train[salaries_train["Employment"] == "Not_employed"][["CompanySize"]].replace(np.nan,0,inplace=True)

In [37]:
salaries_train["CompanySize"].unique()

array(['Fewer than 10 employees', nan, '10 to 19 employees',
       '100 to 499 employees', '20 to 99 employees',
       '500 to 999 employees', '1,000 to 4,999 employees',
       '5,000 to 9,999 employees', '10,000 or more employees'],
      dtype=object)

categorize by average:

- 'Fewer than 10 employees' --> 10
- '10 to 19 employees' --> 15
- '20 to 99 employees' --> 60
- '100 to 499 employees' --> 300
- '500 to 999 employees' --> 750
- '1,000 to 4,999 employees' --> 3000
- '5,000 to 9,999 employees' --> 7500
- '10,000 or more employees' --> 10000

In [38]:
salaries_train["CompanySize"].replace('Fewer than 10 employees',10,inplace=True)
salaries_train["CompanySize"].replace('10 to 19 employees',15,inplace=True)
salaries_train["CompanySize"].replace('20 to 99 employees',60,inplace=True)
salaries_train["CompanySize"].replace('100 to 499 employees',300,inplace=True)
salaries_train["CompanySize"].replace('500 to 999 employees',750,inplace=True)
salaries_train["CompanySize"].replace('1,000 to 4,999 employees',3000,inplace=True)
salaries_train["CompanySize"].replace('5,000 to 9,999 employees',7500,inplace=True)
salaries_train["CompanySize"].replace('10,000 or more employees',10000,inplace=True)

In [39]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [40]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   Country                  200 non-null    object
 2   Student                  200 non-null    object
 3   Employment               200 non-null    object
 4   FormalEducation          200 non-null    object
 5   UndergradMajor           161 non-null    object
 6   CompanySize              136 non-null    float64
 7   DevType                  187 non-null    object
 8   YearsCoding              192 non-null    object
 9   YearsCodingProf          153 non-null    object
 10  EducationTypes           142 non-null    object
 11  SelfTaughtTypes          122 non-null    object
 12  LanguageWorkedWith       162 non-null    object
 13  Salary                   95 non-null     object
 14  LanguageDesireNextYear   150 non-null    object
 15  FrameworkWorkedWith      116 non-null    object
 16  FrameworkDesireNextYear  125 non-null    object
 17  OperatingSystem          161 non-null    object
 18  Age                      137 non-null    object
 19  ConvertedSalary          89 non-null     float64
dtypes: float64(2), int64(1), object(17)
memory usage: 31.4+ KB

In [41]:
# will deal with the null  #

**Dealing with the DevType col**

In [42]:
len(salaries_train["DevType"].unique())

122

In [43]:
salaries_train[["DevType"]]

                                               DevType
0    Back-end developer;Data or business analyst;Da...
1             Front-end developer;Full-stack developer
2    Back-end developer;Desktop or enterprise appli...
3                  Back-end developer;Designer;Student
4    Back-end developer;Desktop or enterprise appli...
..                                                 ...
195  Back-end developer;Desktop or enterprise appli...
196  Back-end developer;Designer;Engineering manage...
197  Back-end developer;Front-end developer;Full-st...
198                       Designer;Front-end developer
199  Back-end developer;Data scientist or machine l...

[200 rows x 1 columns]

In [44]:
# schema shows us what question each individual choose #
schema = pd.read_csv("survey_results_schema.csv")
schema

            Column                                       QuestionText
0       Respondent  Randomized respondent ID number (not in order ...
1            Hobby                            Do you code as a hobby?
2       OpenSource         Do you contribute to open source projects?
3          Country          In which country do you currently reside?
4          Student  Are you currently enrolled in a formal, degree...
..             ...                                                ...
124            Age  What is your age? If you prefer not to answer,...
125     Dependents  Do you have any children or other dependents t...
126     MilitaryUS  Are you currently serving or have you ever ser...
127  SurveyTooLong  How do you feel about the length of the survey...
128     SurveyEasy  How easy or difficult was this survey to compl...

[129 rows x 2 columns]

In [45]:
schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column        129 non-null    object
 1   QuestionText  129 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [46]:
schema[schema["Column"] == "DevType"]

    Column                                       QuestionText
9  DevType  Which of the following describe you? Please se...

In [47]:
schema.loc[9,"QuestionText"]

'Which of the following describe you? Please select all that apply.'

In [48]:
# For the DevType col I am selecticting the first option the survey takers entered #

In [49]:
test = salaries_train.loc[2,"DevType"]
test

'Back-end developer;Desktop or enterprise applications developer;Front-end developer;Full-stack developer'

In [50]:
test_arr = test.split(";")
test_arr

['Back-end developer',
 'Desktop or enterprise applications developer',
 'Front-end developer',
 'Full-stack developer']

In [51]:
test

'Back-end developer;Desktop or enterprise applications developer;Front-end developer;Full-stack developer'

In [52]:
test_arr_one_element = test.split(";")[0]
test_arr_one_element

'Back-end developer'

In [53]:
# making a copy of the dataframe salaries_train so as the test data manipulation #
# salaries_train_test_2 #

In [54]:
salaries_train_test_2 = salaries_train.copy()

In [55]:
# split a pandas Series into an array via (";") 
salaries_train_test_2["DevType"] = salaries_train_test_2["DevType"].str.split(";")

In [56]:
salaries_train_test_2["DevType"].head()

0    [Back-end developer, Data or business analyst,...
1          [Front-end developer, Full-stack developer]
2    [Back-end developer, Desktop or enterprise app...
3              [Back-end developer, Designer, Student]
4    [Back-end developer, Desktop or enterprise app...
Name: DevType, dtype: object

In [57]:
salaries_train_test_2.loc[0,"DevType"]

['Back-end developer',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Educator or academic researcher']

In [58]:
test_dev_arr = salaries_train_test_2.loc[0,"DevType"]
test_dev_arr

['Back-end developer',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Educator or academic researcher']

In [59]:
# write a function that takes an array in a data frame at returns only the first element #
def return_first_element(arr):
    del arr[1:]

In [60]:
return_first_element(test_dev_arr)

In [61]:
test_dev_arr

['Back-end developer']

In [62]:
# write a function that takes an array in a data frame at returns only the first element #
def return_first_element_2(arr):
    arr[0]

In [63]:
test_dev_arr_2 = salaries_train_test_2.loc[5,"DevType"]

In [64]:
return_first_element_2(test_dev_arr_2)

In [65]:
test_dev_arr_2

['Back-end developer',
 'Database administrator',
 'Desktop or enterprise applications developer',
 'Front-end developer',
 'Mobile developer']

In [66]:
# apply the funtion to the salaries_train_test_2["DevType"] #

In [67]:
type(salaries_train_test_2["DevType"])

pandas.core.series.Series

In [68]:
salaries_train_test_2["DevType"] = salaries_train_test_2["DevType"].apply(lambda arr : arr[0])

TypeError: 'float' object is not subscriptable

In [69]:
salaries_train_test_2.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,[Back-end developer],3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,"[Front-end developer, Full-stack developer]",3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,"[Back-end developer, Desktop or enterprise app...",6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,"[Back-end developer, Designer, Student]",3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,"[Back-end developer, Desktop or enterprise app...",3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [70]:
salaries_train_test_3 = salaries_train.copy()

In [71]:
# split a pandas Series into an array via (";") 
salaries_train_test_3["DevType"] = salaries_train_test_3["DevType"].str.split(";")

In [72]:
salaries_train_test_3["DevType"].head()

0    [Back-end developer, Data or business analyst,...
1          [Front-end developer, Full-stack developer]
2    [Back-end developer, Desktop or enterprise app...
3              [Back-end developer, Designer, Student]
4    [Back-end developer, Desktop or enterprise app...
Name: DevType, dtype: object

In [73]:
# write a function that takes an array in a data frame at returns only the first element #
def return_first_element(arr):
    del arr[1:]

In [74]:
salaries_train_test_3["DevType"] = salaries_train_test_3["DevType"].apply(return_first_element)

TypeError: 'float' object does not support item deletion

In [75]:
salaries_train_test_3[["DevType"]]

                                               DevType
0                                 [Back-end developer]
1                                [Front-end developer]
2                                 [Back-end developer]
3                                 [Back-end developer]
4                                 [Back-end developer]
..                                                 ...
195  [Back-end developer, Desktop or enterprise app...
196  [Back-end developer, Designer, Engineering man...
197  [Back-end developer, Front-end developer, Full...
198                    [Designer, Front-end developer]
199  [Back-end developer, Data scientist or machine...

[200 rows x 1 columns]

In [76]:
salaries_train_test_3["DevType"].head(-10)

0                                   [Back-end developer]
1                                  [Front-end developer]
2                                   [Back-end developer]
3                                   [Back-end developer]
4                                   [Back-end developer]
                             ...
185    [Data scientist or machine learning specialist...
186                                            [Student]
187    [Back-end developer, Database administrator, F...
188                                [Front-end developer]
189                        [Back-end developer, Student]
Name: DevType, Length: 190, dtype: object

In [ ]:
# keep working on DevType col #

In [77]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

**Dealing with YearsCodingProf col**

In [78]:
salaries_train["YearsCodingProf"].unique()

array(['0-2 years', '6-8 years', nan, '3-5 years', '9-11 years',
       '27-29 years', '30 or more years', '18-20 years', '12-14 years',
       '21-23 years', '15-17 years', '24-26 years'], dtype=object)

replacing:

- 0-2 years --> 1 etc

In [84]:
salaries_train["YearsCodingProf"].replace('0-2 years',1,inplace=True)
salaries_train["YearsCodingProf"].replace('6-8 years',7,inplace=True)
salaries_train["YearsCodingProf"].replace(np.nan,0,inplace=True)
salaries_train["YearsCodingProf"].replace('3-5 years',5,inplace=True)
salaries_train["YearsCodingProf"].replace('27-29 years',28,inplace=True)
salaries_train["YearsCodingProf"].replace('18-20 years',19,inplace=True)
salaries_train["YearsCodingProf"].replace('12-14 years',13,inplace=True)
salaries_train["YearsCodingProf"].replace('21-23 years',22,inplace=True)
salaries_train["YearsCodingProf"].replace('15-17 years',16,inplace=True)
salaries_train["YearsCodingProf"].replace('24-26 years',25,inplace=True)
salaries_train["YearsCodingProf"].replace('30 or more years',30,inplace=True)

In [87]:
salaries_train["YearsCodingProf"].replace('9-11 years',10,inplace=True)

In [94]:
salaries_train["YearsCodingProf"].unique()

array([ 1,  7,  0,  5, 10, 28, 30, 19, 13, 22, 16, 25], dtype=int64)

**Dealing with YearsCoding col**

In [89]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,7,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,0,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,1,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [90]:
salaries_train["YearsCoding"].unique()

array(['3-5 years', '6-8 years', '18-20 years', '30 or more years',
       '0-2 years', '12-14 years', '9-11 years', '15-17 years',
       '21-23 years', nan, '24-26 years', '27-29 years'], dtype=object)

In [91]:
salaries_train["YearsCoding"].replace('0-2 years',1,inplace=True)
salaries_train["YearsCoding"].replace('6-8 years',7,inplace=True)
salaries_train["YearsCoding"].replace(np.nan,0,inplace=True)
salaries_train["YearsCoding"].replace('3-5 years',5,inplace=True)
salaries_train["YearsCoding"].replace('27-29 years',28,inplace=True)
salaries_train["YearsCoding"].replace('18-20 years',19,inplace=True)
salaries_train["YearsCoding"].replace('12-14 years',13,inplace=True)
salaries_train["YearsCoding"].replace('21-23 years',22,inplace=True)
salaries_train["YearsCoding"].replace('15-17 years',16,inplace=True)
salaries_train["YearsCoding"].replace('24-26 years',25,inplace=True)
salaries_train["YearsCoding"].replace('30 or more years',30,inplace=True)
salaries_train["YearsCoding"].replace('9-11 years',10,inplace=True)

In [99]:
salaries_train["YearsCoding"].unique()

array([ 1,  7,  0,  5, 10, 28, 30, 19, 13, 22, 16, 25], dtype=int64)

**Dealing with EducationTypes col**

In [100]:
salaries_train.head()

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,5,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,5,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,7,7,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,5,0,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,5,1,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [103]:
len(salaries_train["EducationTypes"].unique())

72

In [105]:
# salaries_train["EducationTypes"].unique()

In [ ]:
# Will drop col later on #

**Dealing with SelfTaughtTypes col**

In [107]:
len(salaries_train["SelfTaughtTypes"].unique())

60

In [ ]:
# Will drop col later on #

**Dealing with LanguageWorkedWith col**

In [112]:
salaries_train["LanguageWorkedWith"].unique()

array(['C#;Java;Matlab;Python;SQL;HTML;CSS', 'JavaScript;TypeScript',
       'C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell', 'C;PHP;HTML',
       'C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HTML;CSS;Bash/Shell',
       'Assembly;C;C++;C#;Java;PHP;R;SQL;VB.NET;HTML;CSS',
       'Java;Python;HTML;CSS',
       'C#;F#;JavaScript;Python;SQL;VB.NET;HTML;CSS', 'C;C++;C#;Python',
       'C#;JavaScript;SQL;TypeScript;HTML;CSS', 'VBA;VB.NET', nan,
       'Swift', 'JavaScript;HTML;CSS',
       'C;C++;JavaScript;PHP;SQL;HTML;CSS',
       'C#;Go;Java;JavaScript;SQL;VBA;Visual Basic 6;HTML;CSS;Bash/Shell',
       'Lua;Python;SQL;HTML;CSS;Bash/Shell',
       'Java;JavaScript;TypeScript;HTML;CSS;Bash/Shell',
       'Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;F#;Go;Groovy;Hack;Haskell;Java;JavaScript;Julia;Lua;Matlab;Objective-C;Perl;PHP;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA;VB.NET;Visual Basic 6;Kotlin;Ocaml;Delphi/Object Pascal;Cobol;HTML;CSS;Bash/Shell',
       'Java;JavaScript;PHP;SQL;HTML;CSS', 'C#;SQL;TypeScript',
       'C#;Java;JavaScript;Objective-C;Ruby;SQL;TypeScript;HTML;CSS',
       'Objective-C;Swift', 'Java;JavaScript;SQL;HTML',
       'C#;Java;JavaScript;PHP;SQL;HTML;CSS',
       'C#;JavaScript;PHP;Python;HTML;CSS;Bash/Shell',
       'Assembly;JavaScript;PHP;HTML;CSS',
       'C++;C#;Java;JavaScript;PHP;SQL;HTML;CSS;Bash/Shell',
       'Go;Python;SQL',
       'CoffeeScript;Java;JavaScript;Python;Scala;SQL;HTML;CSS;Bash/Shell',
       'Groovy;Java;JavaScript;Python;SQL;VBA;HTML;CSS;Bash/Shell',
       'C#;Java;JavaScript;SQL;VBA;HTML;CSS;Bash/Shell',
       'Java;Python;SQL;HTML;CSS', 'JavaScript;PHP;SQL;HTML;CSS',
       'C#;JavaScript;SQL;HTML;CSS', 'C;C#;Java;JavaScript;SQL;HTML;CSS',
       'C++;C#;SQL', 'C#;JavaScript', 'JavaScript;Ruby;SQL;CSS',
       'C++;C#;Go;JavaScript;SQL;TypeScript;Bash/Shell',
       'Assembly;C;C++;C#;Haskell;Java;JavaScript;PHP;Python;SQL;HTML;CSS',
       'C#;CoffeeScript;JavaScript;PHP;SQL;VBA;VB.NET;Kotlin;HTML;CSS;Bash/Shell',
       'JavaScript;SQL;HTML;CSS',
       'Java;JavaScript;Python;HTML;CSS;Bash/Shell', 'HTML;CSS',
       'Java;JavaScript;PHP;Python;HTML;CSS',
       'Java;Matlab;Python;HTML;CSS;Bash/Shell',
       'Java;JavaScript;SQL;Cobol;HTML;CSS;Bash/Shell',
       'C++;C#;JavaScript;Lua;Python;Ruby;Scala;SQL;Bash/Shell',
       'C;C++;JavaScript;HTML;CSS;Bash/Shell', 'SQL',
       'C++;JavaScript;PHP;Ruby;SQL;HTML;CSS;Bash/Shell',
       'Haskell;JavaScript;Rust;HTML;CSS;Bash/Shell', 'Java',
       'C++;Java;JavaScript;SQL;HTML;CSS',
       'C;C++;C#;JavaScript;SQL;VB.NET;Visual Basic 6;HTML;CSS',
       'C++;C#;Java;PHP;VB.NET',
       'C++;C#;Go;Objective-C;PHP;Python;SQL;Swift;HTML;CSS',
       'C++;C#;Java;JavaScript;Python;SQL;HTML;CSS',
       'Clojure;JavaScript;Ruby;HTML;CSS;Bash/Shell',
       'Go;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell',
       'Java;JavaScript', 'JavaScript;PHP;TypeScript;HTML;CSS;Bash/Shell',
       'C;C++;C#;Java;JavaScript;PHP;Python;Scala;SQL;VBA;HTML;CSS;Bash/Shell',
       'C++;Java;JavaScript;TypeScript;HTML;CSS',
       'C++;Java;JavaScript;PHP;SQL', 'C++;Java;JavaScript;PHP;Python',
       'Java;Kotlin', 'C++;C#;SQL;Delphi/Object Pascal',
       'Groovy;Java;JavaScript;Python;Scala;HTML;CSS;Bash/Shell',
       'Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell',
       'C;JavaScript;HTML;CSS',
       'C;C++;C#;Java;JavaScript;Julia;Matlab;Python;HTML;CSS;Bash/Shell',
       'C#;TypeScript;HTML;CSS', 'JavaScript;PHP;SQL;TypeScript;HTML;CSS',
       'Python;R;SQL', 'C;C++;C#;Go;Java;JavaScript;Python;SQL',
       'C#;Go;Groovy;Java;JavaScript;Lua;PHP;Python;Ruby;Rust;Scala;SQL;Kotlin;HTML;CSS;Bash/Shell',
       'C++;C#;JavaScript;Matlab;PHP;Ruby;SQL;TypeScript;VB.NET;HTML;CSS',
       'C#;Java;JavaScript;Python;R;SQL;VB.NET;HTML;CSS;Bash/Shell',
       'Groovy;Java;JavaScript',
       'Go;JavaScript;PHP;Python;HTML;CSS;Bash/Shell',
       'C;C++;C#;Java;JavaScript;PHP;SQL;HTML;CSS', 'JavaScript;PHP',
       'Java;JavaScript;Perl;SQL;Visual Basic 6;HTML;CSS;Bash/Shell',
       'CoffeeScript;Go;JavaScript;Lua;Ruby;Rust;TypeScript;HTML;CSS;Bash/Shell',
       'Java;JavaScript;SQL;TypeScript;HTML;CSS',
       'Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell',
       'Go;Java;JavaScript;Objective-C;PHP;Python;SQL;Swift;Kotlin;HTML;CSS',
       'Scala;Bash/Shell', 'C;C++;HTML;CSS;Bash/Shell',
       'C++;Go;Java;JavaScript;Python;Swift;HTML;CSS;Bash/Shell',
       'Go;JavaScript;PHP;Ruby;Scala;SQL;TypeScript;HTML;CSS;Bash/Shell',
       'Assembly;C++;Go;JavaScript;PHP;Python;TypeScript;HTML;CSS;Bash/Shell',
       'C;C#;JavaScript;TypeScript;HTML;CSS',
       'JavaScript;SQL;HTML;CSS;Bash/Shell',
       'C#;Java;JavaScript;SQL;TypeScript;HTML;CSS', 'C++;Java;Python',
       'C#;JavaScript;VBA;VB.NET;HTML', 'Java;Objective-C;PHP;Swift',
       'Assembly;C;C++;C#;Groovy;Java;JavaScript;PHP;Ruby;SQL;TypeScript;HTML;CSS;Bash/Shell',
       'C#;JavaScript;Python;HTML;CSS', 'C++;Python;Bash/Shell',
       'C++;C#;F#;Haskell;JavaScript;TypeScript;HTML;CSS',
       'Assembly;C#;Clojure;Erlang;F#;Go;Haskell;JavaScript;Python;Ruby;Rust;VB.NET;Visual Basic 6',
       'C++;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell',
       'C;C++;Python;Bash/Shell', 'Python',
       'Assembly;C++;Groovy;Java;JavaScript;Python;SQL;TypeScript;HTML;CSS',
       'Assembly;C;C++;Rust;Bash/Shell',
       'C++;Groovy;Java;Python;SQL;Bash/Shell',
       'C;C++;Go;JavaScript;Lua;Python;HTML;CSS;Bash/Shell',
       'C;C#;Java;Matlab;HTML;CSS', 'JavaScript;Python',
       'C#;Java;JavaScript;Objective-C;Swift;HTML',
       'JavaScript;Python;HTML;CSS;Bash/Shell', 'Java;JavaScript;CSS',
       'Assembly;C++;Python;Ruby;SQL;Bash/Shell',
       'Java;JavaScript;Objective-C;SQL;Swift;TypeScript;HTML;CSS',
       'C++;C#;Java;JavaScript;SQL;HTML;CSS',
       'C;C++;Java;JavaScript;SQL;HTML',
       'C;C++;C#;Java;JavaScript;Matlab;Python;SQL;TypeScript;HTML;CSS;Bash/Shell',
       'Groovy;JavaScript;Python;Bash/Shell', 'C#;Python;SQL', 'C#',
       'C;JavaScript;PHP;Python;HTML;CSS',
       'Assembly;C;C++;C#;Java;JavaScript;Objective-C;PHP;Python;SQL;Swift;Kotlin;HTML;CSS',
       'C#;JavaScript;PHP;SQL;Swift;HTML;CSS',
       'C++;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS',
       'C++;C#;Go;Java;JavaScript;Lua;Objective-C;Python',
       'C++;C#;Java;JavaScript;PHP;SQL;VB.NET;HTML;CSS',
       'Go;Java;JavaScript;PHP;HTML;CSS',
       'JavaScript;Perl;PHP;Python;SQL;HTML',
       'C#;JavaScript;TypeScript;HTML;CSS', 'JavaScript;Python;Scala;SQL',
       'C++;C#;JavaScript;Objective-C;Python;Rust;SQL;Bash/Shell',
       'C;C++;JavaScript;Matlab;Python;HTML;CSS;Bash/Shell',
       'JavaScript;PHP;SQL;VBA;Visual Basic 6;HTML;CSS',
       'Go;JavaScript;Ruby;SQL;TypeScript;CSS', 'Java;VBA;HTML;CSS',
       'C#;JavaScript;R;SQL;TypeScript;HTML;CSS', 'C#;Java;SQL',
       'C#;F#;Java;JavaScript;SQL;TypeScript;VB.NET;HTML;CSS',
       'JavaScript;Ruby;Swift;CSS;Bash/Shell',
       'JavaScript;Python;HTML;CSS',
       'JavaScript;R;Ruby;TypeScript;HTML;CSS;Bash/Shell', 'C#;PHP;SQL'],
      dtype=object)

In [ ]:
# Will deal with col later #

**Dealing with LanguageDesireNextYear col**

In [116]:
len(salaries_train["LanguageDesireNextYear"].unique())

143

In [ ]:
# Will drop col #

**Dealing with FrameworkWorkedWith col**

In [118]:
len(salaries_train["FrameworkWorkedWith"].unique())

50

In [ ]:
# Will deal with col later #

**Dealing with FrameworkDesireNextYear col**

In [119]:
len(salaries_train["FrameworkDesireNextYear"].unique())

72

In [ ]:
# Will drop col #

**Dealing with OperatingSystem col**

In [120]:
salaries_train["OperatingSystem"].unique()

array(['Linux-based', 'Windows', 'MacOS', nan], dtype=object)

In [123]:
# Replace nan with Windows since windows is the most popular OS in the world #
salaries_train["OperatingSystem"].replace(np.nan,"Windows",inplace=True)

In [124]:
salaries_train["OperatingSystem"].unique()

array(['Linux-based', 'Windows', 'MacOS'], dtype=object)

**Dealing with Age col**

In [127]:
salaries_train["Age"].unique()

array(['18 - 24 years old', '25 - 34 years old', nan,
       'Under 18 years old', '35 - 44 years old', '45 - 54 years old',
       '55 - 64 years old'], dtype=object)

Replace:

"18 - 24 years old" --> 21  etc

In [128]:
salaries_train["Age"].value_counts()

25 - 34 years old     63
18 - 24 years old     33
35 - 44 years old     22
Under 18 years old     9
45 - 54 years old      7
55 - 64 years old      3
Name: Age, dtype: int64

In [129]:
salaries_train["Age"].replace("18 - 24 years old",21,inplace=True)
salaries_train["Age"].replace("25 - 34 years old",30,inplace=True)
salaries_train["Age"].replace("Under 18 years old",18,inplace=True)
salaries_train["Age"].replace("35 - 44 years old",40,inplace=True)
salaries_train["Age"].replace("45 - 54 years old",50,inplace=True)
salaries_train["Age"].replace("55 - 64 years old",60,inplace=True)
# since most people are between 25 - 34 years old, for nan --> 30
salaries_train["Age"].replace(np.nan,30,inplace=True)

In [130]:
salaries_train["Age"].unique()

array([21., 30., 18., 40., 50., 60.])

**Dealing with Salary and ConvertedSalary cols**

In [132]:
salaries_train[["Salary","ConvertedSalary"]].head()

   Salary  ConvertedSalary
0     510              NaN
1     120           1440.0
2  100000          14436.0
3     NaN              NaN
4     220           3228.0

Concvert all salaries to USD

In [134]:
schema[schema["Column"] == "Salary"]

    Column                                       QuestionText
52  Salary  What is your current gross salary (before taxe...

In [135]:
schema.loc[52,"QuestionText"]

'What is your current gross salary (before taxes and deductions), in ${q://QID50/ChoiceGroup/SelectedChoicesTextEntry}? Please enter a whole number in the box below, without any punctuation. If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty.'

In [136]:
schema[schema["Column"] == "ConvertedSalary"]

             Column                                       QuestionText
54  ConvertedSalary  Salary converted to annual USD salaries using ...

In [137]:
schema.loc[54,"QuestionText"]

'Salary converted to annual USD salaries using the exchange rate on 2018-01-18, assuming 12 working months and 50 working weeks.'

In [138]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   Country                  200 non-null    object
 2   Student                  200 non-null    object
 3   Employment               200 non-null    object
 4   FormalEducation          200 non-null    object
 5   UndergradMajor           161 non-null    object
 6   CompanySize              136 non-null    float64
 7   DevType                  187 non-null    object
 8   YearsCoding              200 non-null    int64
 9   YearsCodingProf          200 non-null    int64
 10  EducationTypes           142 non-null    object
 11  SelfTaughtTypes          122 non-null    object
 12  LanguageWorkedWith       162 non-null    object
 13  Salary                   95 non-null     object
 14  LanguageDesireNextYear   150 non-null    object
 15  FrameworkWorkedWith      116 non-null    object
 16  FrameworkDesireNextYear  125 non-null    object
 17  OperatingSystem          200 non-null    object
 18  Age                      200 non-null    float64
 19  ConvertedSalary          89 non-null     float64
dtypes: float64(3), int64(3), object(14)
memory usage: 31.4+ KB

In [139]:
salaries_train["ConvertedSalary"]

0           NaN
1        1440.0
2       14436.0
3           NaN
4        3228.0
         ...
195     47000.0
196    110000.0
197     70515.0
198    140000.0
199         NaN
Name: ConvertedSalary, Length: 200, dtype: float64

In [141]:
salaries_train[salaries_train["Employment"] == "Not_employed"]

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,5,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,21.0,1440.0
6,84157,Pakistan,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,5,1,Taken an online course in programming or softw...,NaN,Java;Python;HTML;CSS,NaN,Assembly;C#;Java;JavaScript;Perl;Python;Ruby;H...,NaN,Django;Node.js;React;Torch/PyTorch,Windows,18.0,NaN
16,85790,Pakistan,No,Not_employed,Medium,"A business discipline (ex. accounting, finance...",NaN,"Back-end developer;C-suite executive (CEO, CTO...",5,5,Taken an online course in programming or softw...,Questions & answers on Stack Overflow;Online d...,Lua;Python;SQL;HTML;CSS;Bash/Shell,NaN,Python;HTML;CSS,Django,Django;TensorFlow,Linux-based,40.0,NaN
18,83540,Indonesia,Yes,Not_employed,Low,NaN,NaN,"Back-end developer;C-suite executive (CEO, CTO...",5,30,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,08217000063,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,Windows,40.0,1000000.0
20,88759,India,Yes,Not_employed,Medium,"Another engineering discipline (ex. civil, ele...",NaN,Student,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
28,90487,Bangladesh,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer,1,0,Participated in a hackathon,NaN,Assembly;JavaScript;PHP;HTML;CSS,NaN,PHP,NaN,NaN,Windows,30.0,NaN
32,81275,Sri Lanka,Yes,Not_employed,Medium,Web development or web design,NaN,Designer;Front-end developer;Student,1,1,Taken an online course in programming or softw...,NaN,JavaScript;HTML;CSS,250,JavaScript;HTML;CSS,Angular,Angular,Windows,21.0,3000.0
38,94719,Netherlands,No,Not_employed,Low,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
43,84805,Netherlands,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Front-end developer;Marketi...,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
55,83779,United States,No,Not_employed,Medium,"A humanities discipline (ex. literature, histo...",NaN,Front-end developer;Full-stack developer;Student,1,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;SQL;HTML;CSS,0,Java;JavaScript;PHP;Python;Scala;SQL;HTML;CSS;...,Angular;Node.js;React,Node.js;React,MacOS,21.0,0.0
58,92415,Egypt,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Designer;Full-stack develop...,1,0,NaN,NaN,HTML;CSS,NaN,JavaScript;PHP;Python;HTML;CSS,NaN,Angular;Django;Node.js;React,Windows,30.0,NaN
62,91360,India,No,Not_employed,Medium,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,C;C#;JavaScript;SQL;HTML,NaN,Angular;.NET Core,Windows,30.0,NaN
63,82394,Russian Federation,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,5,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,C#;Go;JavaScript,.NET Core,.NET Core,Windows,21.0,NaN
66,89600,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Student,5,0,Taken an online course in programming or softw...,NaN,C;C++;JavaScript;HTML;CSS;Bash/Shell,NaN,CoffeeScript;JavaScript;Python;HTML;CSS;Bash/S...,NaN,Angular;Node.js;React,Linux-based,21.0,NaN
71,85722,France,No,Not_employed,Low,NaN,NaN,Front-end developer;Student;System administrator,1,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Haskell;JavaScript;Rust;HTML;CSS;Bash/Shell,NaN,Assembly;C;Kotlin,Node.js,React;TensorFlow;Torch/PyTorch,Linux-based,18.0,NaN
79,98566,Viet Nam,No,Not_employed,Low,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
81,83356,United States,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Educator or academic researcher;Front-end deve...,7,1,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C++;C#;Java;JavaScript;Python;SQL;HTML;CSS,NaN,C++;Java;Python,React,React,Windows,21.0,NaN
92,89483,Germany,Yes,Not_employed,Low,NaN,NaN,Student,5,0,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;Java;JavaScript;PHP;Python,NaN,C;C++;Go,NaN,NaN,Linux-based,21.0,NaN
97,83373,Colombia,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,1,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/S...,NaN,Assembly;C;C++;Go;Kotlin,Django;Node.js;React,Angular;Django;Node.js;React,Windows,18.0,NaN
114,92735,Philippines,No,Not_employed,Medium,"Information systems, information technology, o...",NaN,Back-end developer;DevOps specialist;Full-stac...,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
124,85237,India,Yes,Not_employed,Medium,Web development or web design,NaN,DevOps specialist;Full-stack developer,1,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C;C++;HTML;CSS;Bash/Shell,NaN,C++;JavaScript;HTML;CSS;Bash/Shell,NaN,Angular;Django;Node.js;React,Linux-based,21.0,NaN
125,88633,United States,No,Not_employed,Medium,"A social science (ex. anthropology, psychology...",NaN,Marketing or sales professional,1,0,Taken an online course in programming or softw...,A college/university computer science or softw...,HTML;CSS,35000,JavaScript;Python;SQL;HTML;CSS,NaN,.NET Core;Django;Node.js;React,Windows,30.0,35000.0
131,93561,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
133,86294,India,Yes,Not_employed,Low,NaN,NaN,Front-end developer;Student,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
148,80483,United States,No,Not_employed,Low,NaN,NaN,Game or graphics developer;Student,5,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,Python,NaN,Python,NaN,NaN,MacOS,18.0,NaN
149,82638,United States,Yes,Not_employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Back-end developer;Designer;Front-end develope...,5,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Assembly;C++;Groovy;Java;JavaScript;Python;SQL...,NaN,C#;Groovy;JavaScript;Python;SQL;TypeScript;HTML,Angular;Node.js,Angular;Django;Node.js;Spring,Windows,21.0,NaN
156,94604,Belgium,No,Not_employed,Low,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
158,93395,France,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
163,95055,Jordan,Yes,Not_employed,Low,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
168,95948,India,No,Not_employed,Low,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,30.0,NaN
172,91167,Philippines,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Data or business analyst;Da...,5,0,NaN,NaN,C;JavaScript;PHP;Python;HTML;CSS,NaN,C++;C#;Java;R;VB.NET;Visual Basic 6,NaN,NaN,Windows,30.0,NaN
175,84640,Singapore,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Database administrator;Student,5,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C++;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS,NaN,Java;Ruby,NaN,Node.js,MacOS,18.0,NaN
176,85062,New Zealand,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,1,1,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;C#;Go;Java;JavaScript;Lua;Objective-C;Python,NaN,Assembly;C++;CoffeeScript;Clojure;Go;JavaScrip...,Node.js,Node.js;React;Xamarin;TensorFlow,Windows,18.0,NaN
183,85191,United States,No,Not_employed,High,"A natural science (ex. biology, chemistry, phy...",NaN,Data or business analyst;Data scientist or mac...,25,25,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;Python;Scala;SQL,NaN,JavaScript;Python;Scala;SQL,Django;Hadoop;Node.js;React;Spark,Django;Node.js;React;Spark;TensorFlow,Linux-based,60.0,NaN
185,91196,China,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,5,0,NaN,NaN,C;C++;JavaScript;Matlab;Python;HTML;CSS;Bash/S...,NaN,C;C++;Matlab;Python,Node.js;TensorFlow,TensorFlow;Torch/PyTorch,Linux-based,30.0,NaN
186,89245,India,No,Not_employed,Low,NaN,NaN,Student,1,0,Taken an online course in programming or softw...,The official documentation and/or standards fo...,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,NaN,NaN,Windows,18.0,NaN
194,80790,United States,No,Not_employed,High,"Computer science, computer engineering, or sof...",NaN,Back-end developer;Desktop or enterprise appli...,30,28,Received on-the-job training in software devel...,The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS;Bash/Shell,0,Go;Haskell;JavaScript;Rust;TypeScript;Kotlin;O...,Node.js;React,Node.js;React;TensorFlow,Windows,50.0,0.0
199,87040,Netherlands,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Data scientist or machine l...,7,1,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C#;PHP;SQL,NaN,C#;Haskell;Python;Bash/Shell,NaN,NaN,Windows,21.0,NaN

In [145]:
salaries_train[salaries_train["ConvertedSalary"] == 1440]

,Unnamed: 0,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
1,83134,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,5,1,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,21.0,1440.0

In [148]:
# In the ConvertedSalary col replace nan with 1 #

In [150]:
sal_test = salaries_train.copy()

In [151]:
sal_test["ConvertedSalary"].replace(np.nan,1,inplace=True)

In [157]:
# Dataframe where ConvertedSalary == 1 and Employment == "Not_Employed" #
# Droping these cols because i cant estimate a salary if you have no employment #
sal_test[(sal_test["ConvertedSalary"] == 1) and (sal_test["Employment"]  == "Not_employed")]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# Ok move on for now #

**Devtype col Tests**

In [164]:
sal_test["DevType"]

0      Back-end developer;Data or business analyst;Da...
1               Front-end developer;Full-stack developer
2      Back-end developer;Desktop or enterprise appli...
3                    Back-end developer;Designer;Student
4      Back-end developer;Desktop or enterprise appli...
                             ...
195    Back-end developer;Desktop or enterprise appli...
196    Back-end developer;Designer;Engineering manage...
197    Back-end developer;Front-end developer;Full-st...
198                         Designer;Front-end developer
199    Back-end developer;Data scientist or machine l...
Name: DevType, Length: 200, dtype: object

In [165]:
type(sal_test["DevType"])

pandas.core.series.Series

In [166]:
# split a pandas Series into an array via (";") 
sal_test["DevType"] = sal_test["DevType"].str.split(";")

In [172]:
sal_test["DevType"]

0      [Back-end developer, Data or business analyst,...
1            [Front-end developer, Full-stack developer]
2      [Back-end developer, Desktop or enterprise app...
3                [Back-end developer, Designer, Student]
4      [Back-end developer, Desktop or enterprise app...
                             ...
195    [Back-end developer, Desktop or enterprise app...
196    [Back-end developer, Designer, Engineering man...
197    [Back-end developer, Front-end developer, Full...
198                      [Designer, Front-end developer]
199    [Back-end developer, Data scientist or machine...
Name: DevType, Length: 200, dtype: object

In [171]:
sal_test["DevType"][0]

['Back-end developer',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Educator or academic researcher']

In [170]:
sal_test["DevType"][0][0]

'Back-end developer'

In [178]:
sal_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   Country                  200 non-null    object
 2   Student                  200 non-null    object
 3   Employment               200 non-null    object
 4   FormalEducation          200 non-null    object
 5   UndergradMajor           161 non-null    object
 6   CompanySize              136 non-null    float64
 7   DevType                  187 non-null    object
 8   YearsCoding              200 non-null    int64
 9   YearsCodingProf          200 non-null    int64
 10  EducationTypes           142 non-null    object
 11  SelfTaughtTypes          122 non-null    object
 12  LanguageWorkedWith       162 non-null    object
 13  Salary                   95 non-null     object
 14  LanguageDesireNextYear   150 non-null    object
 15  FrameworkWorkedWith      116 non-null    object
 16  FrameworkDesireNextYear  125 non-null    object
 17  OperatingSystem          200 non-null    object
 18  Age                      200 non-null    float64
 19  ConvertedSalary          200 non-null    float64
dtypes: float64(3), int64(3), object(14)
memory usage: 31.4+ KB

In [184]:
sal_test["DevType"]

0      [Back-end developer, Data or business analyst,...
1            [Front-end developer, Full-stack developer]
2      [Back-end developer, Desktop or enterprise app...
3                [Back-end developer, Designer, Student]
4      [Back-end developer, Desktop or enterprise app...
                             ...
195    [Back-end developer, Desktop or enterprise app...
196    [Back-end developer, Designer, Engineering man...
197    [Back-end developer, Front-end developer, Full...
198                      [Designer, Front-end developer]
199    [Back-end developer, Data scientist or machine...
Name: DevType, Length: 200, dtype: object

In [185]:
sal_test["DevType"].str[0]

0       Back-end developer
1      Front-end developer
2       Back-end developer
3       Back-end developer
4       Back-end developer
              ...
195     Back-end developer
196     Back-end developer
197     Back-end developer
198               Designer
199     Back-end developer
Name: DevType, Length: 200, dtype: object

In [187]:
sal_test["DevType"] = sal_test["DevType"].str[0]

In [188]:
sal_test["DevType"]

0       Back-end developer
1      Front-end developer
2       Back-end developer
3       Back-end developer
4       Back-end developer
              ...
195     Back-end developer
196     Back-end developer
197     Back-end developer
198               Designer
199     Back-end developer
Name: DevType, Length: 200, dtype: object

In [189]:
sal_test["DevType"].unique()

array(['Back-end developer', 'Front-end developer',
       'Full-stack developer',
       'Desktop or enterprise applications developer',
       'Educator or academic researcher', 'Student', 'Mobile developer',
       'Game or graphics developer', 'Designer', 'DevOps specialist', nan,
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Database administrator',
       'QA or test developer', 'System administrator',
       'Marketing or sales professional',
       'Embedded applications or devices developer',
       'C-suite executive (CEO, CTO, etc.)'], dtype=object)

In [ ]:
# Apply to salaries_train["DevType"] col #